@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/Aeonik/Aeonik-Regular.otf") format("otf");
  }
}

* {
  font-family: "Aeonik", sans-serif;
  // font-optical-sizing: auto;
  // font-style: normal;
  // font-variation-settings: "slnt" 0;
}

.items-center,
.justify-between {
  @apply flex;
}
